.daha_Daha {
  width: 81px;
  height: 40px;
}
.oval {
  width: 40px;
  height: 40px;
  background: #1d1e1c;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle {
  width: 91px;
  height: 40px;
  border-radius: 20px;
  background: #f40000;
  border-color: transparent;
}
.giriYap {
  width: 71px;
  height: 20px;
  color: #ffffff;
  font-family: "TCCC-UnityHeadline-Bold";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.17142858px;
}
.profile {
  width: 16px;
  height: 17px;
  background: transparent;
  margin: auto;
}
.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 141px;
  height: 40px;
}
.navbarContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100vw;
  padding: 1.25rem 0.9375rem 0.9375rem;
  box-sizing: border-box;
  max-width: 1440px;
}
